.menu{
    padding: 20px 0;

    &__link{
        color: $white;
    }
}

.menu{
    .logo{ margin: 104px 82.5px 131px 308.5px ;}
    .pagination {display: flex;
    margin: 133px 197.5px 151px 0;
    
        .text{font-family: 'Manrope';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 140%;
            font-feature-settings: 'liga' off;         
            color: #333333;          
            flex: none;
            order: 2;
            flex-grow: 0;
            margin: 0 30px 0 30px;
         }
    
}
.communication{
    .instagram{margin: 0 30px 0 30px;}
}

    
}


