.news{
    &__image{
        overflow: hidden;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__item{
        overflow: hidden;
        border: 1px solid $greyC;
        box-shadow: 0px 60px 121px rgba(0, 0, 0, 0.05), 0px 38.8889px 70.8634px rgba(0, 0, 0, 0.037963), 0px 23.1111px 38.5407px rgba(0, 0, 0, 0.0303704), 0px 12px 19.6625px rgba(0, 0, 0, 0.025), 0px 4.88889px 9.85926px rgba(0, 0, 0, 0.0196296), 0px 1.11111px 4.76157px rgba(0, 0, 0, 0.012037);
        border-radius: 15px;
        margin-top: 48px;
    }
    &__content{
        padding: 40px;
    }
    &__title{
        color: $darkBlue;
        font-size: 24px;
        line-height: 120%;
    }
    &__text{
        color: $grey3;
        font-size: 20px;
        line-height: 140%;
        margin: 24px 0;
        white-space: pre-line;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .news{
        &__item{
            max-width: 350px;
        }
        &__text{
            font-size: 18px;
        }
    }
}