.choice{
    &__select{
        max-width: 350px;
        position: relative;

        &__options{
            position: absolute;
            box-shadow: 0px 60px 100px rgba(0, 0, 0, 0.15), 0px 38.8889px 58.5648px rgba(0, 0, 0, 0.113889), 0px 23.1111px 31.8519px rgba(0, 0, 0, 0.0911111), 0px 12px 16.25px rgba(0, 0, 0, 0.075), 0px 4.88889px 8.14815px rgba(0, 0, 0, 0.0588889), 0px 1.11111px 3.93519px rgba(0, 0, 0, 0.0361111);
            border-radius: 0px 0px 15px 15px;
            background-color: $white;
            width: 100%;
            margin-top: 4.5px;
            z-index: 99999999;
            max-height: 0;
            overflow-y: scroll;
            transition: .15s ease-in-out;
        }
        &.active{
            .choice__select__options{
                max-height: 456px;
            }
        }
        &__option{
            padding: 26px 16px;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 16px;
            color: $grey3;
            transition: .25s ease-in;
            &:hover{
                background-color: $red;
                color: $white;

                &:before{
                    background-image: url('../assets/icons/mark_white.svg');
                }
            }
            &:before{
                content: '';
                background-image: url('../assets/icons/mark.svg');
                min-width: 14px;
                min-height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 16px;
            }
        }
        &__signature{
            font-size: 12px;
            line-height: 160%;
            color: $greyAB;
            padding-left: 12px;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
        &.selected{
            .choice__select__list{
                border: 1px solid $red;
                color: $red;
            }
        }
        &__list{
            background: $greyEF;
            border-radius: 15px;
            padding: 19px;
            color: $grey6;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            img{
                margin-right: 15px;
            }

            &.active{
                &:after{
                    transform: rotate(180deg);
                }
            }
            &:after{
                content: '';
                transition: .2s ease;
                width: 12px;
                height: 6px;
                background-image: url('../assets/icons/angle_grey.svg');
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: auto;
            }
        }
    }

    &__menu{
        max-width: 65px;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: $greyC;
        border-radius: 15px;
        padding-bottom: 11px;
        color: $greyAB;
        font-size: 8px;
        cursor: pointer;

        background-image: url("../assets/icons/menu.svg");
        background-size: 24px;
        background-position: center 11px;
        background-repeat: no-repeat;
        &:hover{
            color: $greyAB;
        }
        &.active{
            background-color: $red;
            background-image: url("../assets/icons/menu_white.svg");
            color: $white;
            &:hover{
                color: $white;
            }
        }
    }
    &__btn{
        max-width: 255px;
        background-color: $greyC;
        border-radius: 15px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $greyAB;
        &.active{
            background-color: $red;
            color: $white;
        }
    }

    ::-webkit-scrollbar-button {
        background-repeat:no-repeat;
        width:5px;
        height:0px
    }
        
    ::-webkit-scrollbar-track {
        background-color:$greyC;
        border-radius: 7px;
    }
        
    ::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background-color:$darkBlue;
    }
        
    ::-webkit-scrollbar-thumb:hover{
        background-color:#56999f;
    }
        
    ::-webkit-resizer{
        background-repeat:no-repeat;
        width:4px;
        height:0px
    }
        
    ::-webkit-scrollbar{
        width: 8px;
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    overflow: hidden;
    display: flex;
    outline: 0;
    background-color: rgba(0,0,0, .2);
    justify-content:center;
    align-items: center;

    &__wrap{
        width: 100%;
        max-width: 640px;
        padding: 72px;
        background-color: $white;
        border-radius: 30px;
    }
}


@media screen and (min-width: 375px) and (max-width: 768px){
    .choice{
        &__select,
        &__btn,
        &__menu{
            max-width: initial;
        }
        &__select:nth-child(2){
            margin: 16px 0;
        }
    }
}