$red        :   #8D191D;
$darkRed    :   #75151C;
$green      :   #558950;
$darkBlue   :   #132A3E;
$white      :   #ffffff;
$grey3      :   #333333;
$grey6      :   #666666;
$greyAB     :   #ababab;
$greyC      :   #cccccc;
$greyEF     :   #efefef;
$greyE0     :   #e0e0e0;
$black      :   #000000;


$heading    :   "PFRegalTextPro";
$subheading :   "ManropeMedium";
$subtitle   :   "ManropeBold";
$text       :   "ManropeRegular";