@import "./fonts";
@import "./vars";

@import "./info";
@import "./footer";
@import "./news";
@import "./raffles";
@import "./select";
@import "./menu";

body, html{
    overflow-x: hidden;
}
body{
    background: url('../assets/img/bg.png'), rgba(255,255,255,0.8);
    background-blend-mode: color;
    background-repeat: repeat;
}
a{
    text-decoration: none !important;
    color: $grey3;
}
section{
    .container{
        padding-bottom: 96px;
        background: $white;
    }
}
h1{
    font-size: 72px;
    text-align: initial;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 42px;
}
.heading{
    font-family: $heading;
    color: $darkBlue;
    line-height: 100%;
    text-align: center;
}
.text-red{
    color: $red;
}
.text{
    font-family: $text;
}
.subtitle{
    font-family: $subtitle;
}
.subheading{
    font-family: $subheading;
}


/* what is */

.what_is{
    .container{
        padding: 90px 0;
    }
    .subtitle{
        font-size: 20px;
        margin-top: 48px;
        line-height: 32px;
    }
}